.footer-top{
    height: 200px;
    width: 100%;
    background-image: url(../public/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cutm-btn{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: #00489A;
}